<!-- <section fxLayout="row wrap" fxLayoutAlign="center center"> -->

<form #form="ngForm" (ngSubmit)="onSubmit()">
    {{form.value | json}} {{controls | json}}
    <mat-grid-list cols='2' rowHeight=" 1:3 ">
        <mat-grid-tile *ngFor="let control of controls; let i=index ">
            <app-generic-input *ngIf="isInputType(control)" [control]="control" [name]="'input-'+i" ngModel ngDefaultControl>
            </app-generic-input>
            <app-generic-textarea *ngIf="control.type =='textarea'" [control]="control" [name]="'textarea-'+i" ngModel ngDefaultControl>
            </app-generic-textarea>
        </mat-grid-tile>
    </mat-grid-list>
</form>
<!-- [control]="control" name="input" ngModel ngDefaultControl -->
<!-- </section> -->
<!--  -->