<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Your form</mat-card-title>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-grid-list [cols]='gridParams.colsNumber' [rowHeight]=" gridParams.rowsHeight ">
                    <mat-grid-tile *ngFor="let control of controls; let i=index">
                        {{control| json}}
                        <app-generic-input *ngIf="isInputType(control)" [control]="control" [name]="'input-'+i" ngModel ngDefaultControl>
                        </app-generic-input>
                        <app-generic-textarea *ngIf="control.type =='textarea'" [control]="control" [name]="'textarea-'+i" ngModel ngDefaultControl>
                        </app-generic-textarea>
                        <app-generic-select *ngIf="control.type.indexOf('select') >-1" [control]="control" [name]="'select-'+i" ngModel ngDefaultControl>
                        </app-generic-select>
                        <app-generic-radio-button *ngIf="control.type =='radio button'" [control]="control" [name]="'radio-button-'+i" ngModel ngDefaultControl>
                        </app-generic-radio-button>
                        <app-generic-button *ngIf="isButtonType(control)" [control]="control" [name]="'button-'+i" [attr.disabledButton]='form.invalid' ngModel ngDefaultControl>
                        </app-generic-button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </form>
    </mat-card>
</section>