<!-- <div [formGroup]="SihgleControlForm"> -->
<mat-form-field>
    <mat-label>{{control.label}}</mat-label>

    <!-- Input -text, number, email, password, date, color -->
    <input matInput type="{{control.type}}" placeholder="{{control.label}}" #input (input)="onChange($event.target.value)">
    <!--Errors for input-->

    <mat-error *ngIf="controlDir.control.errors?.required">Field is required</mat-error>
    <mat-error *ngIf="controlDir.control.errors?.min">Value must be greater than {{controlDir.control.errors.min.min}}.
    </mat-error>
    <mat-error *ngIf="controlDir.control.errors?.max">Value must be less than {{controlDir.control.errors.max.max}}.
    </mat-error>
    <mat-error *ngIf="controlDir.control.errors?.maxlength">Text must be {{controlDir.control.errors.maxlength.requiredLength}} symbols at least.
    </mat-error>
    <mat-error *ngIf="controlDir.control.errors?.minlength">Text must not be more than {{controlDir.control.errors.minlength.requiredLength}} symbols.
    </mat-error>
    {{controlDir.control.errors | json}}
</mat-form-field>

<!-- </div> -->