mat-toolbar {
    background-color: rgb(142, 128, 240);
}

mat-toolbar h1 {
    margin: auto;
}

footer {
    background-color: rgb(142, 128, 240);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}