.content {
    padding: 16px;
    align-content: center;
    ;
    margin-bottom: 100px;
}

mat-card-title {
    text-align: center;
    padding-bottom: 15px;
}

mat-grid-tile {
    min-height: height 100px;
    ;
}

.controles-container {
    width: 240px;
    float: left;
    margin: 10px;
}

.bottomright {
    position: fixed;
    top: 100px;
    right: 10px;
}