<section>
    <div class='form-creator'>
        <form [formGroup]="formControlsForm" (ngSubmit)="onCreateForm()">
            <mat-grid-list [cols]='gridParams.colsNumber' rowHeight="200">
                <mat-grid-tile *ngFor="let item of [].constructor(gridElNumber); let i = index">
                    <app-single-grid-cell (gridCellFormReady)="addFormControl(setFormGroupName(i), $event)">
                    </app-single-grid-cell>
                </mat-grid-tile>

            </mat-grid-list>
            <div mat-dialog-actions align="end">
                <button mat-raised-button color="primary" [disabled]="!isFormValid()">Create form</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</section>