// section {
//     min-height: 100vh;
//     //height: 80vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: fit-content;
// }
.form-creator {
    display: flex;
    justify-content: center;
    form {
        width: 80%;
    }
    .mat-grid-tile {
        background: rgb(242, 239, 239);
        overflow: auto;
    }
    .mat-form-field-infix {
        width: auto;
    }
}